#header {
    background-color: #eee;
    padding: 20px;
    text-align: center;
}

#content {
    margin: 20px;
}

.selected {
    font-weight: bold;
}

.menu {
    margin-bottom: 20px;
}

.menu  {
    list-style: none;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 10px;
}  

